body{
    margin: 0;
    padding: 0;
    background-color: #eee;
    display: flex;
    flex-direction: row;
}
.tik{
    margin: 0;
    width: 50%;
    padding:100px 0;
    
}
#game{
    align-items: center;
}
button{
    border-radius: 5px;
    width: 100px;
    height: 100px;
    font-size: 50px;
    background-color:#fff;
}
h1{
    /* text-align: center; */
}
.cal{
    width: 50%;
    margin: 0;
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
}
#equal{
    height: 200px;
}
hr{
    height: 100vh;
    /* width: 100%; */
}
.operations{
   display: flex;
   flex-direction: column;
   padding: 0 0 0 5px;
}
.input, .number{
   justify-content: center;
}
.number{
    display: flex;
    flex-direction: row;
}
input{
    height: 100px;
    border-radius: 5px;
    width: 405px;
    font-size: 50px;

}
#resetbtn{
    height: 100px;
    width: 305px;
    background-color: #fff;
}
@media screen and (max-width:840px) {
    body{
        display: flex;
        flex-direction: column;
    }
    .tik{
        margin: 0;
        width: 100%;
        padding:100px 0;
        
    }
    #game{
        align-items: center;
    }
    .cal{
        width: 100%;
        margin: 0;
        padding: 50px 0 0 0;
        display: flex;
        flex-direction: column;
    }
    hr{
       
        height: 0;
        width: 100vw;
    }
}

@media only screen and (max-width:768px){
    button{

        width: 80px;
        height: 80px;
        font-size: 50px;
        background-color:#fff;
    }
    .tik{
        margin: 0;
        width: 100%;
        padding:150px 0;
        
    }
    #resetbtn{
        height: 80px;
        width: 245px;
        background-color: #fff;
    }
    #equal{
        height: 160px;
    }
    input{
        height: 80px;
        border-radius: 5px;
        width: 325px;
        font-size: 50px;
    
    }
}
